@media(max-width:900px){
    .container2{
        flex-direction: column;
    }
    .container2 p{
        width:80%;
        text-align: center;
    }
    .opening-video{
        width:90%;
        margin:5%;

    }
    .slogan{
        width:200px;
              }          
    .slogan p{
        font-size: 30px;
    }
}

.contact_us p:nth-child(1){
    color:white;
    font-size: 20px;
}
.contact_us a{
    color:#fec262;
    font-size:17px;
    margin:0;
}

.follow{
    margin:0 0 0 0;
}
.footer_box{
    width:250px;
    height:100px;
    min-width: 250px;
    margin:0 0 0 20px;
}
.follow div {
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: row;
}

.follow div img {
    width: 25px;
    height: 25px;
    margin: 0 0 0 10px;
}

.follow p { 
    color: white;
    font-size: 15px;
    margin: 15px 0 0 10px;
}

.footer_logo {
    height: 30px;
    display: flex;
    flex-direction: row;
    margin-top:20px;
}

.footer_logo p {
    margin: 5px 0 0 5px;
    font-size: 15px;
    color: white;
}

footer {
    margin: 20px 0 0 0 ;
    display:inline-flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-family: sofia;
    position: relative;
    background-color: #000000;
    height: auto;
    width: 100%;
}